[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/
[Bb]uild*/         # Build/ or Builds/
UserSettings/
.memory/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.DotSettings.user
.vs/
.idea/
.DS_Store